<div class="map-bottom-tab">
    <ul class="tabs">
        <li class="tab-item">
            <mat-icon class="tab-item-icon">directions</mat-icon>
            <h3 class="tab-item-name">Route</h3>
        </li>
        <li class="tab-item">
            <mat-icon class="tab-item-icon">place</mat-icon>
            <h3 class="tab-item-name">Landmark</h3>
        </li>
        <li class="tab-item">
            <mat-icon class="tab-item-icon">directions_bus</mat-icon>
            <h3 class="tab-item-name">Bus</h3>
        </li>
    </ul>
</div>